a {
    color: black;
    text-decoration: none;
}

.heading {
    font-family: Helvetica;
    font-size: 45px;
}

#featured_products {
    height: 400px;
    width: 100%;
}

#store {
    width:80%;
    margin: auto;
}
.store_item {
    float: left;
    padding: 10px 50px 
    
}

.store_item p {
    text-align: center;
}
.store_item img {
    width:250px;
    height:270px;
    box-shadow: 10px 10px 5px #888888;
}


.store_item img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.store_item img:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}


.Content{
    background-color:white;
    margin: auto;
    opacity:0.8;
}

.contacts-container {
    width: 100%;
    margin: auto;
    
}
.contact-details {
float: left;
    color: azure;
    
}
.contact-social-media {
    
    width: 190px;
   
}

.heading{
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}